
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link rel="icon" type="image/png"  href="assets/img/cartoonme.jpg">
    <title>{{ site.title}}</title>

    <link rel="stylesheet" href="{{ '/assets/css/styles.css?v=' | append: site.github.build_revision | relative_url }}">
    <meta name="viewport" content="width=device-width">
  </head>
  
  <body>
    <div class="wrapper">
      <header>
        <h1>{{ site.title}}</h1>
        <p>{{ site.description}}</p>

        <table>
          {% for nav in site.navigation %}
            {% if nav.url contains "://" %}
              <tr><th><a href="{{ nav.url }}">{{ nav.title }}</a></th></tr>
            {% else %}
              <tr><th><a href="{{ nav.url | relative_url }}">{{ nav.title }}</a></th></tr>
            {% endif %}
          {% endfor %}
        </table>
      </header>
      
      <section>

      {{ content }}

      </section>
      
      <footer>
        {% if site.github.is_project_page %}
        <p>&copy;2022 Dina Noviana. All Right Reserved</p>
        {% endif %}
      </footer>
    </div>
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
  </body>
</html>
